body {
    padding-top: 70px;
}

.footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
}

.articleTitle:hover, .articleTitle:focus {
  text-decoration: none;
}

.adminTable {
    margin-top: 20px;
    margin-bottom: 20px;
}

.thumbnail {
  width:200px;
  height: 200px;
}

.gallery h2{
  text-align: center;
}

.gallery img{
  text-align: center;
}

.gallery {
  text-align: justify;
  text-justify: inter-word;
}

.article h2{
  text-align: center;
}

.article {
  text-align: justify;
}
